# ================================
# DATASET E DATI PESANTI
# ================================
data/*
!data/processed/
*.zip


# ================================
# LOGGING
# ================================
wandb/
mlruns/
lightning_logs/
tensorboard/
logs/
*.log

# ================================
# AMBIENTE PYTHON
# ================================
venv/
env/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# ================================
# JUPYTER
# ================================
.ipynb_checkpoints/

# ================================
# CONFIGURAZIONI LOCALI
# ================================
.env
config_local.py
*.local.py
credentials.json
token.json

# ================================
# SISTEMA OPERATIVO
# ================================
.DS_Store
Thumbs.db
desktop.ini
__MACOSX/

# ================================
# IDE
# ================================
.vscode/
.idea/
*.code-workspace
