# Data
data/original/
data/processed/

# Models and experiments
experiments/
models/
*.keras
*.h5
*.pt
*.pth
*.ckpt

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# OS
.DS_Store

# Environments
.venv/
venv/
.env
